<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace : mapper 파일을 구분할 수 있는 고유 실별자 -->
<!-- 이름을 지정해줄 때 DAO 클래스파일명과 일치시키는 경우가 많음 -->
<mapper namespace="com.bk.database.MemberDAO">

	<!-- parameterType : alias 지정했는지 확인할것 -->
	<insert id="Register" parameterType="MemberVO">
		insert into member
		values(
		#{id},
		#{pw},
		#{sex},
		#{age},
		#{memlocation}
		)
	</insert>

	<select id="Login"
	resultType="MemberVO"
	parameterType="MemberVO"
	>
		select * from member
		where id =#{id}
		and pw =#{pw}
	</select>
</mapper>